<a href="https://colab.research.google.com/github/thandabarish/Python_GeekBrains/blob/master/Ln2_HW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Задание 1. Easy**

In [0]:
# Задача-1:
# Дан список фруктов.
# Напишите программу, выводящую фрукты в виде нумерованного списка,
# выровненного по правой стороне.

# Пример:
# Дано: ["яблоко", "банан", "киви", "арбуз"]
# Вывод:
# 1. яблоко
# 2.  банан
# 3.   киви
# 4.  арбуз

# Подсказка: воспользоваться методом .format()

In [0]:
fruits = ['яблоко', 'груша', 'киви', 'банан', 'виноград']
for number, word in enumerate(fruits, 1):
  print('{}. {:>8}'.format(number, word))

1.   яблоко
2.    груша
3.     киви
4.    банан
5. виноград

In [0]:
# Задача-2:
# Даны два произвольные списка.
# Удалите из первого списка элементы, присутствующие во втором списке.

In [0]:
list1 = set(['яблоко', 'груша', 'киви', 'банан', 'виноград'])
list2 = set(['арбуз', 'груша', 'дыня', 'банан', 'апельсин'])
print(list1-list2)

{'киви', 'яблоко', 'виноград'}

In [0]:
# Задача-3:
# Дан произвольный список из целых чисел.
# Получите НОВЫЙ список из элементов исходного, выполнив следующие условия:
# если элемент кратен двум, то разделить его на 4, если не кратен, то умножить на два.

In [0]:
numbers = [12, 34, 67, 9, 45, 17, 22]
newList = []
for number in numbers:
  if number%2 == 0:
     newList.append(number / 4)
  else:
     newList.append(number * 2)
print(newList)

[3.0, 8.5, 134, 18, 90, 34, 5.5]

**Задание 2. Normal**

In [0]:
# Задача-1:
# Дан список, заполненный произвольными целыми числами, получите новый список,
# элементами которого будут квадратные корни элементов исходного списка,
# но только если результаты извлечения корня не имеют десятичной части и
# если такой корень вообще можно извлечь
# Пример: Дано: [2, -5, 8, 9, -25, 25, 4]   Результат: [3, 5, 2]

In [0]:
numbers = [12, 25, 4, 15, 64, 100]
newList = []
for number in numbers:
  if (number ** (0.5)).is_integer():
    newList.append(number ** (0.5))
print(newList)

[5.0, 2.0, 8.0, 10.0]

In [0]:
# Задача-2: Дана дата в формате dd.mm.yyyy, например: 02.11.2013.
# Ваша задача вывести дату в текстовом виде, например: второе ноября 2013 года.
# Склонением пренебречь (2000 года, 2010 года)

In [7]:
import datetime
dt = str(datetime.date.today())
year, month, day = dt.split('-')
day = int(day)
month = int(month)

months = ('', 'января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября',
          'декабря')
days = ('', 'первое', 'второе', 'третье', 'четвертое', 'пятое', 'шестое', 'седьмое', 'восьмое', 'девятое', 'десятое',
        'одиннадцатое', 'двенадцатое', 'тринадцатое', 'четырнадцатое', 'пятнадцатое', 'шестнадцатое', 'семнадцатое',
        'восемнадцатое', 'девятнадцатое', 'двадцатое', 'двадцать первое', 'двадцать второе', 'двадцать третье',
        'двадцать чертвертое', 'двадцать пятое', 'двадцать шестое', 'двадцать седьмое', 'двадцать восьмое',
        'двадцать девятое', 'тридцатое', 'тридцать первое')

print(days[day], months[month], year, 'года')

восемнадцатое августа 2019 года

In [0]:
# Задача-3: Напишите алгоритм, заполняющий список произвольными целыми числами
# в диапазоне от -100 до 100. В списке должно быть n - элементов.
# Подсказка:
# для получения случайного числа используйте функцию randint() модуля random

In [0]:
import random
n = int(input('Введите целое число, сколько элементов нужно в списке: '))
numbers = []
for i in range(n):
  numbers.append(random.randint(-100, 100))
print(numbers)

Введите целое число, сколько элементов нужно в списке: 10
[-2, -44, 26, 7, 53, 38, 57, -58, 47, -67]

In [0]:
# Задача-4: Дан список, заполненный произвольными целыми числами.
# Получите новый список, элементами которого будут: 
# а) неповторяющиеся элементы исходного списка:
# например, lst = [1, 2, 4, 5, 6, 2, 5, 2], нужно получить lst2 = [1, 2, 4, 5, 6]
# б) элементы исходного списка, которые не имеют повторений:
# например, lst = [1 , 2, 4, 5, 6, 2, 5, 2], нужно получить lst2 = [1, 4, 6]

In [12]:
numbers = [20, 94, 72, 22, 67, 20, 72, 50]

list1 = list(set(numbers))

list2 = list()
for number in numbers:
  if numbers.count(number) == 1:
    list2.append(number)
print(list1)
print(list2)

[67, 72, 50, 20, 22, 94]
[94, 22, 67, 50]

**Задание 3. Hard.**

In [0]:
# Задание-1: уравнение прямой вида y = kx + b задано в виде строки.
# Определить координату y точки с заданной координатой x.

equation = 'y = -12x + 11111140.2121'
x = 2.5
# вычислите и выведите y

In [36]:
equation = 'y = -12x + 11111140.2121'
x = 2.5

temp = equation.split(' ')
number_x = float(temp[2].replace('x', '')) * x

y = number_x + float(11111140.2121)
print(y)

11111110.2121

In [0]:
# Задание-2: Дата задана в виде строки формата 'dd.mm.yyyy'.
# Проверить, корректно ли введена дата.
# Условия корректности:
# 1. День должен приводиться к целому числу в диапазоне от 1 до 30(31)
#  (в зависимости от месяца, февраль не учитываем)
# 2. Месяц должен приводиться к целому числу в диапазоне от 1 до 12
# 3. Год должен приводиться к целому положительному числу в диапазоне от 1 до 9999
# 4. Длина исходной строки для частей должна быть в соответствии с форматом 
#  (т.е. 2 символа для дня, 2 - для месяца, 4 - для года)

# Пример корректной даты
date = '01.11.1985'

# Примеры некорректных дат
date = '01.22.1001'
date = '1.12.1001'
date = '-2.10.3001'

In [45]:
dt = '18.07.2019'
day, month, year = dt.split('.')

days_by_months = (31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)

if len(day) == 2 and len(month) == 2 and len(year) == 4:
    day = int(day)
    month = int(month)
    year = int(year)
    
    if 0 < day <= days_by_months[int(month)] and 0 < month < 12 and 0 < year < 9999:
      print('Дата корректна') 
    else:
      print('Дата некорректна')
else:
  print('Дата не полностью корректна')

Дата корректна

In [0]:
# Задание-3: "Перевёрнутая башня" (Задача олимпиадного уровня)
#
# Вавилонцы решили построить удивительную башню —
# расширяющуюся к верху и содержащую бесконечное число этажей и комнат.
# Она устроена следующим образом — на первом этаже одна комната,
# затем идет два этажа, на каждом из которых по две комнаты, 
# затем идёт три этажа, на каждом из которых по три комнаты и так далее:
#         ...
#     12  13  14
#     9   10  11
#     6   7   8
#       4   5
#       2   3
#         1
#
# Эту башню решили оборудовать лифтом --- и вот задача:
# нужно научиться по номеру комнаты определять,
# на каком этаже она находится и какая она по счету слева на этом этаже.
#
# Входные данные: В первой строчке задан номер комнаты N, 1 ≤ N ≤ 2 000 000 000.
#
# Выходные данные:  Два целых числа — номер этажа и порядковый номер слева на этаже.
#
# Пример:
# Вход: 13
# Выход: 6 2
#
# Вход: 11
# Выход: 5 3

In [0]:
#Эта задача мне пока не по зубам оказалась :(